<!DOCTYPE html>
<html>
    <head>
    <title></title>
        <meta name="viewport" content="width=device-width">
        <meta charset="UTF-8">
            <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/styles.css" />
       <link href='https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/png" href="images/icon.ico">
    </head>
    <body>
        <header><h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <nav><ul><li><a href="{{ site.baseurl }}/">Recipes</a></li>
                <li><a href="{{ site.baseurl }}/about">About</a></li></ul></nav></header>



<div id="container">
      {{ content }}
    </div>

        <footer>© Copyright 2015. Recipes reproduced without permission.</footer>

    </body>
</html>
