---
layout: default
---

    <div class="object">
        <div class="project"><h4>{{ page.title }}</h4>
            <p>{{ page.discription }}</p>
        </div>
            <div class="type">
                <ul>
                {% for categories in page.categories %}
                <li>{{ categories }}</li>
                {% endfor %}
    </ul></div>
            <div class="year">{{ page.year }}</div>
    </div>

<div class="images clearfix">
    {{ content }}

    <section class="clear"></section>

<p class="to-top"><a href="#top">&uarr;</a></p>
        </div>

