---
layout: default
---

<div class="recently-feature">
    <div class="left">
<a href="http://www.scratchingthesurface.fm"><img src="/images/sts_cover.jpg"></a>
    Podcast
        </div>
    
    <div class="right">
<a href="http://www.jarrettfuller.photo"><img src="/images/photosite.png"></a>
    Photography
        </div>

</div>

<article class="recently">
   
    <h4>SIGN UP FOR MY NEWSLETTER</h4>
    <center>
<div id="custom-substack-embed"></div>

<script>
  window.CustomSubstackWidget = {
    substackUrl: "jarrettfuller.substack.com",
    placeholder: "example@gmail.com",
    buttonText: "Subscribe",
    theme: "custom",
    colors: {
      primary: "#000000",
      input: "#FFFFFF",
      email: "#000000",
      text: "#FFFFFF",
    }
  };
</script>
<script src="https://substackapi.com/widget.js" async></script>
    </center>

    {{ content }}

</article>
