---
layout: default
---
<style type="text/css">
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    #playlist-container {
        display: flex;
      max-width: 100%;
        border-top: 1px solid red;
        padding: 25px;
        flex-flow: wrap;
    }
.playlist-cover {
    width: 25%;
    padding: 25px;
    overflow: hidden;
}
figure {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}
figure img {
    width: 100%;
}

figcaption {
    display: none;
    position: absolute;
    padding: 20px;
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.6);
        color: black;
}
    figcaption h1 {
        font-size: 28px;
        line-height: 28px;
    }
    figcaption h2 {
        font-size: 28px;
        line-height: 28px;
        color: rgba(0,0,0,.4);
    }
figure:hover figcaption {
    display: block;
}
    figure:hover img {
        filter: blur(5px);
    }
@media only screen and (max-width: 1024px) {
    #playlist-container {
        display: block;
    }
    .playlist-cover {
        width: 100%;
                    padding: 0px;
    }
        figure {
        padding-bottom: 50px;
    }
    figcaption {
    display: block;
    position: inherit;
    padding: 0px;
}
    figure:hover img {
        filter: none;
    }
        }
        </style>
<body>
<div id="playlist-container">
{% for playlists in site.playlists %}
      <div class="playlist-cover">
                <a href="{{ playlists.url }}">
        <figure>
            <img src="{{ playlists.image}}" alt="image"/>
            <figcaption>
           <h1>{{ playlists.title }}</h1>
            <h2>{{ playlists.season }}</h2></figcaption>
        </figure>
          </a>
        </div>
  {% endfor %}
    </div>

</body>
