---
layout: default
---
<style type="text/css">
    * {
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    #play-container {
        display: flex;
      max-width: 100%;
        border-top: 1px solid red;
        padding: 25px;
        padding-left: 50px;
/*        padding-bottom: 50px;*/
        flex-flow: wrap;
    }
.play-link {
    width: 50%;
    padding-left: 0px;
    padding-right: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}
figure {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 0px;
}
figure img {
    width: 100%;
    padding-bottom: 0px;
}

figcaption {
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,.6);
        color: black;
}
    figcaption h1 {
        font-size: 16px;
        line-height: 22px;
    }
    figcaption h2 {
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
    }
@media only screen and (max-width: 1024px) {
    #playlist-container {
        display: block;
    }
    .playlist-cover {
        width: 100%;
                    padding: 0px;
    }
        figure {
        padding-bottom: 50px;
    }
    figcaption {
    display: block;
    position: inherit;
    padding: 0px;
}
    figure:hover img {
        filter: none;
    }
        }
        </style>
<body>
    {{ content }}


</body>
